################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Carry-In/Carry-In/Carry_In.Droid/bin/Debug
